import os
import secrets
from typing import Dict

import yaml

from FasterAPI import Module, core

{{ module_name }}_module = Module()
core.modules.append({{ module_name }}_module)

try:
    config: Dict = yaml.safe_load(open("config.yaml", "r")) or {}
except FileNotFoundError:
    config = {}