from datetime import datetime
from typing import List

from sqlalchemy import ForeignKey
from sqlalchemy.orm import Mapped, mapped_column, relationship

from FasterAPI import core


class {{model_name}}(core.sql_base):
    __tablename__ = '{{model_name}}'
    id:Mapped[Integer] = mapped_column(primary_key=True)
    {% for field in fields%}
    {{field.name}}:Mapped[{{field.type}}] = mapped_column()
    {% endfor %}
    
