from FasterAPI import core
{% for module in modules%}
from {{module}}.module.router import {{module}}_router
{% endfor %}

{% for module in modules%}
core.app.include_router({{module}}_router)
{% endfor %}

if __name__ == "__main__":
    core.serve()