from pydantic import BaseModel

class {{model_name}}Create(BaseModel):
    pass
    
class {{model_name}}Read(BaseModel):
    pass

class {{model_name}}Update(BaseModel):
    pass

class {{model_name}}Delete(BaseModel):
    pass