from fastapi import Depends
from sqlalchemy.orm import Session

from . import {{ module_name }}_module
from . import {{ model_name }}
from .schema import {{ model_name }}Create, {{ model_name }}Delete, {{ model_name }}Read, {{ model_name }}Update


def create_{{ module_name }}(data: {{ model_name }}Create, db: Session = Depends({{ module_name }}_module)):
    pass

def read_{{ module_name }}(data: {{ model_name }}Read, db: Session = Depends({{ module_name }}_module)):
    pass

def update_{{ module_name }}(data: {{ model_name }}Update, db: Session = Depends({{ module_name }}_module)):
    pass

def delete_{{ module_name }}(data: {{ model_name }}Delete, db: Session = Depends({{ module_name }}_module)):
    pass